<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head', {title: 'Agregar producto'})%> 

<body class="add">
    <%-include('../partials/header')%> 
    <main>
        <form action="/admin/crear" method="post" enctype="multipart/form-data">
            <h1>Nuevo producto<h1>
            <section>
                <div>
                    <label for="selectType">Tipo de producto</label>
                    <select name="selectType" id="S">
                        <option value="null" hidden>seleccionar una opcion</option>
                        <option value="1" <%=locals.old && old.selectType === "1" ? "selected" : null %> >Comida</option>
                        <option value="2" <%=locals.old && old.selectType === "2" ? "selected" : null %> >Bebidas</option>
                        <option value="3" <%=locals.old && old.selectType === "3" ? "selected" : null %> >Aperitivos</option>
                    </select>
                    <% if (locals.errors && errors.selectType) { %>
                        <small><%= errors.selectType.msg %> </small>
                    <% } %>
                </div>
                <div>
                    <label for="nombre">Nombre de Producto</label>
                    <input type="text" name="nombre" placeholder="Ingresar nombre" value="<%- locals.old && old.nombre ? old.nombre : null %>">
                    <% if (locals.errors && errors.nombre) { %>
                     <small><%= errors.nombre.msg %> </small>
                    <% } %>
                </div>
                <div>
                    <label for="marca">Marca de Producto</label>
                    <input type="text" name="marca" placeholder="Ingresar marca" value="<%- locals.old && old.marca ? old.marca : null %>">
                    <!-- <% if (locals.errors && errors.marca) { %>
                     <small><%= errors.marca.msg %> </small>
                    <% } %> -->
                    <small>**Solo para productos con Marca**</small>
                </div>
                <div>
                    <label for="descripcion">Detalle del producto</label>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="4" placeholder="Agregar descripcion"><%- locals.old && old.descripcion ? old.descripcion : null %></textarea>
                    <% if (locals.errors && errors.descripcion) { %>
                        <small><%= errors.descripcion.msg %> </small>
                    <% } %>
                </div>
                <div class="file">
                    <label for="img">Imagen del producto</label>
                    <div class="file-select" id="src-file1" >
                       <input name="img" type="file" id="img" multiple> 
                    </div>
                    <% if (locals.errors && errors.img) { %>
                     <small><%= errors.img.msg %> </small>
                    <% } %>
                </div>
                <div class="p-s">
                    <div>
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" id="precio" placeholder="precio" value="<%- locals.old && old.precio ? old.precio : null %>">
                        <% if (locals.errors && errors.precio) { %>
                          <small><%= errors.precio.msg %> </small>
                        <% } %>
                    </div>
                    <div>
                        <label for="descuento">Descuento</label>
                        <input type="number" name="descuento" id="descuento" placeholder="descuento" value="<%- locals.old && old.descuento ? old.descuento : null %>">
                        <% if (locals.errors && errors.descuento) { %>
                          <small><%= errors.descuento.msg %> </small>
                        <% } %>
                    </div>
                    <div class="stock">
                        <label for="stock">Stock</label>
                        <input type="number" name="stock" id="stock" placeholder="stock" value="<%- locals.old && old.stock ? old.stock : null %>">
                        <% if (locals.errors && errors.stock) { %>
                          <small><%= errors.stock.msg %> </small>
                        <% } %>
                    </div>
                </div>
                
                <div>
                    <label for="categoria">Categoria</label>
                    <select name="categoria" id="categoria">
                        <option value="undefined" hidden>seleccionar una opcion</option>
                        <option value="1" <%=locals.old && old.categoria === "1" ? "selected" : null %> >Nuevo</option>
                        <option value="2" <%=locals.old && old.categoria === "2" ? "selected" : null %> >Especial</option>
                        <option value="3" <%=locals.old && old.categoria === "3" ? "selected" : null %>>Ninguna</option>
                    </select>
                    <% if (locals.errors && errors.categoria) { %>
                     <small><%= errors.categoria.msg %> </small>
                    <% } %>
                </div>
                <div class="botton">
                    <button type="submit">Añadir Producto</button>
                    <a href="/admin/list"><button type="button">Cancelar</button></a>
                </div>
            </section>
        </form>
    </main>
</body>
</html>