<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/e41faadd8e.js" crossorigin="anonymous"></script>
    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>Editar</title>
</head>

<body class="editar">
    <%-include('../partials/header')%> 

    <main>
        <h1>Editar producto</h1>
        <form action="/admin/editar/<%= producto.id %>?_method=PUT" method="post" class="form" enctype="multipart/form-data">
            <div>
                <label for="selectType">Tipo de producto</label>
                <select name="selectType" id="selectType">
                    <!-- <option value="null" hidden> aa</option> -->
                    <option value="1" <%=locals.old && old.selectType === "1" || producto.type_id === 1 ? "selected" : null %> >Comida</option>
                    <option value="2" <%=locals.old && old.selectType === "2" || producto.type_id === 2 ? "selected" : null %> >Bebidas</option>
                    <option value="3" <%=locals.old && old.selectType === "3" || producto.type_id === 3 ? "selected" : null %> >Aperitivos</option>
                </select>
                <small id="typeError"><%= locals.errors && errors.selectType ? errors.selectType.msg : null %> </small>
            </div>
            <div>
                <label for="nombre">Nombre de Producto</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresar nombre" value="<%- locals.old && old.nombre ? old.nombre : producto.nombre %>">
                <small id="nameError"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %> </small>
            </div>
            <div>
                <label for="marca">Marca de Producto</label>
                <input type="text" name="marca" id="marca" placeholder="Ingresar marca" value="<%- locals.old && old.marca ? old.marca : producto.marca %>">
                <small id="marcaError"><%= locals.errors && errors.marca ? errors.marca.msg : null %> </small>
                <small>**Solo para productos con Marca**</small>
            </div>
            <div>
                <label for="descripcion">Descripción de producto</label>
               <textarea name="detalle" id="descripcion" cols="30" rows="4" placeholder="Ingresar descripción de producto"><%= producto.detalle %></textarea>
               <small id="detalleError"><%= locals.errors && errors.detalle ? errors.detalle.msg : null %> </small>
            </div>
            <div>
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria">
                    <option value="undefined" hidden>seleccionar una opcion</option>
                    <option value="1" <%=locals.old && old.categoria === "1" || producto.categoria_id === 1 ? "selected" : null %> >Nuevo</option>
                    <option value="2" <%=locals.old && old.categoria === "2" || producto.categoria_id === 2 ? "selected" : null %> >Especial</option>
                    <option value="3" <%=locals.old && old.categoria === "3" || producto.categoria_id === 3 ? "selected" : null %>>Ninguna</option>
                </select>
                <small id="categoriaError"><%= locals.errors && errors.categoria ? errors.categoria.msg : null %> </small>
            </div>

            <div>
                <label for="stock">Stock</label>
                <input type="number" name="stock" id="stock" placeholder="Ingrese el stock" value="<%=producto.stock%>" >
                <small id="stockError"><%= locals.errors && errors.stock ? errors.stock.msg : null %> </small>
                
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" placeholder="Ingresar precio de producto" value="<%=producto.precio%>" >
                <small id="precioError"><%= locals.errors && errors.precio ? errors.precio.msg : null %> </small>
            </div>
            <div>
                <label for="descuento">Descuento</label>
                <input type="number" name="descuento" id="descuento" placeholder="0" value="<%=producto.descuento%>" >
                <small id="descuentoError"><%= locals.errors && errors.descuento ? errors.descuento.msg : null %> </small>
            </div>
          
            <div>
                <label for="img">Cargar imagen de producto</label>
                <input class="file" type="file" name="img" id="img" width="200%" height="200%" multiple>
                <% if (locals.errors && errors.img) { %>
                    <small><%= errors.img.msg %> </small>
                <% } %>
            </div>
          
                <div>
                  <button id="btn-valid" type="submit">Editar Producto </button>
            </div>  
        </form>
    </main>
 
    <%-include('../partials/footer') %> 
    <script src="/js/validacionEditarPro.js"></script>
 
</body>
</html>