<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/e41faadd8e.js" crossorigin="anonymous"></script>
    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Usuario</title>
</head>
<body class="user">
    <%- include('./partials/header') %>
    <main>
       <section> <h1>Mi usuario: <%= ${locals.userLoginCheck.name + locals.userLoginCheck.apellido}%></h1> </section> 
   <section class="img"> 
<img src="/img/"<%= locals.userLoginCheck.image  %>  alt=""> 
</section> 

<div> 
    <h2>Mis datos:</h2>
   <h3> <ul>
      <li>Nombre<%= locals.userLoginCheck.name%>
    </li>
      <li>
        Apellido<%= locals.userLogin.apellido %>
      </li>
      <li>
          Email<%= locals.userLoginCheck.email %>
        </li>
        <li>
            Genero<%= locals.userLoginCheck.genero %>
          </li>
          
          <li>
            Contraseña<%= locals.userLoginCheck.pass %>
          </li>
    </ul></h3>
</div>

<form action="/users/user/logot?_method=DELETE" method="post"> 
 <button type="submit">Cerrar sesión</button> </form>

</main>
    
    <%- include('./partials/footer') %>
    
</body>
</html>

