<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/e41faadd8e.js" crossorigin="anonymous"></script>
    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Usuario</title>
</head>
<body class="user">
    <%- include('../partials/header') %>
    <main>

<section class="perfil"> 
  <article class="A">
    <div class="img">
      <img class="avatar" src="../img/usuarios/<%= locals.userLogin.image %>" alt="">
    </div> 
  
    <div class="datos"> 
      <h2>Mis datos:</h2>
      <ul class="lista"> <h3>
          <li>
            Nombre: <%= `${locals.userLogin.nombre} ${locals.userLogin.apellido}`%>
          </li>
          <li>
            Apellido: <%= locals.userLogin.apellido%>
          </li>
          <li>
            Rol: <%= locals.userLogin.rol === 1? 'Usuario' : 'Administrador' %>
          </li>  
      </ul>
    </div>
  </article>

  <div class="botones" >
    <form action="/users/logout?_method=DELETE" method="post"> 
      <button class="boton" type="submit">Cerrar sesión</button> 
    </form>
  
    <a href="/users/editarUser/<%= locals.userLogin.id %>">
      <button class="boton">Editar Usuario</button>
    </a>
  </div>
</section>

</main>
    
    <%- include('../partials/footer') %>
    
</body>
</html>

