<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Beer Bar'}) %>

<body class="home">

    <%- include('./partials/header') %>
    <main>

        <h1>PROMOCIONES</h1>

        <section class="productos">
        <% productos.forEach(producto => { %>
            <% if ((producto.descuento > 10 || producto.categoria === "especial") && (producto.stock - producto.vendidos) >= 1) { %>
                <article>
                    <img src="/img/productos/<%= producto.imagenes[0] %> " alt="">
                    <div class="contenedor">
                        <h3><%= producto.marca %> </h3>
                        <% if (producto.descuento > 0) { %>
                        <p class="old">$<%= producto.precio %> </p>
                        <p class="precio">$<%= producto.precio - (producto.precio * producto.descuento / 100) %> <small class="descuento"><%= producto.descuento %>%</small>
                        <p>
                        <% }else { %>
                        <p class="precio">$<%= producto.precio %> </p>
                        <% } %>
                    </div>
                    <button><a href="/products/<%= tipoDeProd[0] %>/<%= producto.id %>">Comprar</a></button>
                </article> 
            <% } %>       
        <% }) %>
        <% proComidas.forEach(producto => { %>
            <% if ((producto.descuento > 10 || producto.categoria === "especial") && (producto.stock - producto.vendidos) >= 1) { %>
                <article>
                    <img src="/img/productos/<%= producto.imagenes[0] %> " alt="">
                    <div class="contenedor">
                        <h3><%= producto.marca %> </h3>
                        <% if (producto.descuento > 0) { %>
                        <p class="old">$<%= producto.precio %> </p>
                        <p class="precio">$<%= producto.precio - (producto.precio * producto.descuento / 100) %> <small class="descuento"><%= producto.descuento %>%</small>
                        <p>
                        <% }else { %>
                        <p class="precio">$<%= producto.precio %> </p>
                        <% } %>
                    </div>
                    <button><a href="/products/<%= tipoDeProd[1] %>/<%= producto.id %>">Comprar</a></button>
                </article> 
            <% } %>       
        <% }) %> 
        </section>

        <h1>PRODUCTOS DESTACADOS</h1>

        <section class="productos">
            <% productos.forEach(producto => { %>
            <% if (((producto.categoria === "nuevo") || ((producto.vendidos * 100) / producto.stock)  > 70 && producto.vendidos >= 10 ) && (producto.stock - producto.vendidos) >= 1 ) { %>
            <article>
                <img src="/img/productos/<%= producto.imagenes[0] %> " alt="imagen del producto">
                <div class="contenedor">
                    <h3><%= producto.marca %> </h3>
                    <% if (producto.descuento > 0) { %>
                    <p class="old">$<%= producto.precio %> </p>
                    <p class="precio">$<%= producto.precio - (producto.precio * producto.descuento / 100) %> <small class="descuento"><%= producto.descuento %>%</small>
                    <p>
                    <% }else { %>
                    <p class="precio">$<%= producto.precio %> </p>
                    <% } %> 
                </div>

                <button><a href="/products/<%= tipoDeProd[0] %>/<%= producto.id %>">Comprar</a></button>
            </article>
            <% } %>
            <% }) %>

    </main>
    <%- include('./partials/footer') %>
</body>

</html>