<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Beer Bar'}) %>

<body class="home">

    <%- include('./partials/header') %>
    <main>

        <div id="carouselExampleCaptions" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src=" /img/productos/banner2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  
                  <p class="text-danger">  <a href="/users/register">Registrate acá</a></p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/img/productos/banner1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>25% off en hamburguesas y pizzas</h5>
                  <p>VALIDO POR DICIEMBRE</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/img/productos/banner3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>11548720</h5>
                  <p>Delivery sin cargo hasta las 00hs</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <h1>PROMOCIONES</h1>

        <section class="productos carrouselProductos" >

        <div class="glider-contain">
            <div class="glider">

        <% products.forEach(producto => { %>
            <% if ((producto.descuento > 10 || producto.category.name === "especial") && (producto.stock - producto.vendidos) >= 1) { %>
                <div class="article">
                    <img src="/img/productos/<%= producto.imagenes[0].name %> " alt="">
                    <div class="contenedor">
                        <h3><%= producto.nombre %> </h3>
                        <% if (producto.descuento > 0) { %>
                        <p class="old">$<%= producto.precio %> </p>
                        <p class="precio">$<%= producto.precio - (producto.precio * producto.descuento / 100) %> <small class="descuento"><%= producto.descuento %>%</small>
                        <p>
                        <% }else { %>
                        <p class="precio">$<%= producto.precio %> </p>
                        <% } %>
                    </div>
                    <button><a href="/products/detail/<%= producto.id %>">Comprar</a></button>
                </div> 
            <% } %>       
        <% }) %>
            </div>

            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
        </div>


        </section>
        <section class="modal">
          <div class="modal__container">
              <img src="/img/logo/logo-beerbar.png" class="modal__img" alt="">
              <h2 class="modal__title">Contacto</h2>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Juan Perez">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Numero de telefono</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="1154254111">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            <!--  <button type="button" class="btn btn-outline-danger">Enviar</button> -->
            <div class="modal__paragraph">
            <p><i class="fa-solid fa-mobile-screen"></i>Por comentarios sobre nuestras cervezas: 0800-22-CERVEZA (2378392)
                Por comentarios sobre nuestras bebidas sin alcohol: 0800-222-2237</p>
                <p><a href="https://www.google.com/maps/place/Gran+Canaria+&+Avenida+12+de+Octubre,+Quilmes,+Buenos+Aires/data=!4m2!3m1!1s0x95a32e6997e4c865:0xbe15efa80e32561d?ved=2ahUKEwiS6YS99enfAhUGF5AKHcVdDywQ8gEwAHoECAQQAQ" class="contact-a"><i class="fa-solid fa-location-pin-lock"></i>Av. 12 de Octubre y Gran Canaria (B1878AAB) Quilmes - Buenos Aires - Argentina</a></p>
            </div>
            
              <a href="#" class="modal__close">Cerrar</a>
          </div>
      </section>

        <h1>PRODUCTOS DESTACADOS</h1>

        <section class="productos carrouselProductos">

        <div class="glider-contain">
            <div class="glider gli2">

            <% products.forEach(producto => { %>
            <% if (((producto.category.name === "nuevo") || ((producto.vendidos * 100) / producto.stock)  > 70 && producto.vendidos >= 10 ) && (producto.stock - producto.vendidos) >= 1 ) { %>
            <div class="article">
                <img src="/img/productos/<%= producto.imagenes[0].name %> " alt="imagen del producto">
                <div class="contenedor">
                    <h3><%= producto.nombre %> </h3>
                    <% if (producto.descuento > 0) { %>
                    <p class="old">$<%= producto.precio %> </p>
                    <p class="precio">$<%= producto.precio - (producto.precio * producto.descuento / 100) %> <small class="descuento"><%= producto.descuento %>%</small>
                    <p>
                    <% }else { %>
                    <p class="precio">$<%= producto.precio %> </p>
                    <% } %> 
                </div>

                <button><a href="/products/detail/<%= producto.id %>">Comprar</a></button>
            </div>
            <% } %>
            <% }) %>

            </div>

            <button aria-label="Previous" class="glider-prev2">«</button>
            <button aria-label="Next" class="glider-next2">»</button>
            <div role="tablist" class="dots2"></div>
        </div>
        
        </section>
        
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/glider.js"></script>
    <script src="/js/contacto.js"></script>
    <script src="/js/carrousel1.js"></script>
    <script src="/js/carrousel2.js"></script>
</body>

</html>