<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Productos'}) %>

<body class="products">
    <%- include('./partials/header') %>
    <main>
        <%- include('./partials/contacto') %>
        <h1>Productos</h1>
        <section class="productos" id="productos">
            <!-- <% products.forEach(producto => { %>
            <article>
                <img src="/img/productos/<%= producto.imagenes[0].name %>" alt="">
                <div class="contenedor">
                    <h3><%= producto.nombre %></h3>
                    <% if (producto.descuento > 0) { %>
                    <p class="old">$<%= producto.precio %> </p>
                    <p class="precio">$<%= producto.precio - (producto.precio * producto.descuento / 100) %> <small class="descuento"><%= producto.descuento %>%</small>
                    <p>
                    <% }else { %>
                    <p class="precio">$<%= producto.precio %> </p>
                    <% } %>
                </div>
                <button><a href="/products/detail/<%= producto.id %>">Comprar</a></button>
            </article>
            <% }) %> -->
        </section>

        <div class="col-12 d-flex justify-content-between align-items-center">
            <nav aria-label="Page navigation example" class="navPages">
                <ul class="pagination justify-content-end" class="pages" id="pages-links">

                </ul>
            </nav>
        </div>
     
        <template id="template-products">

            <article>
                <div class="img-Product">
                    <img id="imgPoducts" src="" alt="">
                </div>
                <div class="infoContent">
                    <div class="contenedor">
                        <h3 id="nombre"></h3>
                        <p class="old" id="oldprecio"></p>
                        <p class="precio" id="precio"><p>  
                    </div>
                    <button><a href="" id="id"></a></button>
                </div>
            </article>

        </template>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/paginacionProductos.js"></script>
</body>
</html>